/*
Tipografías:
Akira - Bold
Raleway - Light - Regular
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
  margin: 0;
  padding: 0;
}

/*
Colores de tendence:
Blanco: #F4F4F4
Negro: #2A2A2A
Violeta: #7F217D
Azul: #446FB2
*/

@media screen and (prefers-color-scheme: dark) {
  * {
    background-color: transparent;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: var(--Blanco);
  }

  svg {
    fill: var(--Blanco);
    background-color: rgba(0, 0, 0, 0);
  }

}

@media screen and (prefers-color-scheme: light) {
  
}

/* Default colors */
body {
  --text-color: #2A2A2A;
  --bkg-color: #F4F4F4;
}
/* Dark theme colors */
body.dark-theme {
  --text-color: #F4F4F4;
  --bkg-color: #2A2A2A;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body { 
    --text-color: #2A2A2A;
    --bkg-color: #F4F4F4;
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #F4F4F4;
    --bkg-color: #2A2A2A;
  }

:root {
  color-scheme: dark;
  --Blanco: #F4F4F4;
  --Negro: #2A2A2A;
  --Violeta: #7F217D;
  --Azul: #446FB2;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: scale(0);
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.el-icon-time {
  transform: translateX(16px);
}