@import "./base.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akira Expanded";
}

p,
a,
li,
ul {
  font-family: "Raleway";
}

#nav-links {
  list-style-type: none;
}

li {
  padding: 6px;
}

a {
  text-decoration: none;
  list-style: none;
}

button {
  border-color: var(--Violeta);
}

#footer {
  background-image: linear-gradient(rgba(0,0,0,0), var(--Violeta), var(--Azul))
}

#solutions {
  font-family: "Raleway";
  font-weight: 300;
}