@import "./base.css";

h1,

h3,
h4,
h5,
h6 {
  font-family: "Akira Expanded";
}

p,
a,
li,
h2,
ul {
  font-family: "Raleway";
}

#nav-links {
  list-style-type: none;
}

li {
  padding: 6px;
}

a {
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

button {
  border-color: var(--Violeta);
}

input {
  border-color: var(--Violeta);
}


#footer {
  background-image: linear-gradient(rgba(0,0,0,0), var(--Violeta), var(--Azul));
}

#solutions {
  font-family: "Raleway";
  font-weight: 300;
}

i {
  background-color: rgba(0,0,0,0);
}