@import "./base.css";

h1,

h3,
h4,
h5,
h6 {
  font-family: "Akira Expanded";
}

p,
a,
li,
h2,
ul {
  font-family: "Raleway";
}

#nav-links {
  list-style-type: none;
  margin-right: 1.5rem;
}

@media (max-width: 600px) {

  .el-carousel > el-carousel__container {
    width: 20px;
    height: 20px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav > a {
    display: flex;
    flex-direction: column;

  }

  nav > ul {
    padding-left: auto;
    padding-right: auto;
  }

  #nav-links {
    list-style-type: none;
    margin-right: auto;
  }

  #brand1 {
    display: flex;
  }

  #brand2 {
    display: flex;
  }
  
}


li {
  padding: 6px;
}

a {
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

button {
  border-color: var(--Violeta);
}

input {
  border-color: var(--Violeta);
}


#footer {
  background-image: linear-gradient(rgba(0,0,0,0), var(--Violeta), var(--Azul));
}

#solutions {
  font-family: "Raleway";
  font-weight: 300;
}

i {
  background-color: rgba(0,0,0,0);
}

.el-input__inner {
  background-color: transparent;
}

.el-picker-panel {
  background-color: var(--Negro);
  color: white;
  font-family: sans;
  font-weight: bold;
  border: 0;
  box-shadow: 2px 2px 12px black;
}

.el-date-picker__header>button {
  color: white;
}
.el-date-picker__header>span {
  color: white;
}
.el-picker-panel__footer {
  background-color: var(--Negro);
}

.el-picker-panel__footer>button {
  background-color: transparent;
}

.el-picker-panel > .popper__arrow {
  border-style: none;
  display: none;
}